section.first-screen
	.container.container--full.first-screen__container
		.first-screen__text Тут будет находиться описание этого <span>раздела, что бы люди понимали как он работает</span>
		.first-screen__title.js-marquee Поздравления университета
		a.first-screen__anchor.anchor(href='#list') список <br> поздравлений
		.first-screen__buttons.d-none-desktop-flex
			a(href='#') поддержать
			a.js-congrat(href='#') поздравить