section#list.list-block
	.list-block__line-block
		.container.list-block__container-top
			.list-block__title список <br> поздравлений
			label.d-none-desktop
				+icon('search')
				input(type='search', placeholder='Введите имя')
	.container.d-none-mobile
		label
			+icon('search')
			input(type='search', placeholder='Введите имя')
	.list-block__grid-block
		.container
			.list-block__sort
				.list-block__number <span class="congrat-num">20</span> поздравлений
				select
					option По алфавиту а - я
					option По алфавиту я - а
					option По новизне
			.list-block__grid
				.card-person.list-block__item
					a.link-area(href='#', target='_blank')
					.card-person__image
						img(src='images/person.jpg', srcset='images/person@2x.jpg 2x', alt='')
					.card-person__content
						.card-person__content-group
							.card-person__name Аделина Имамутдинова
							.card-person__position магистрант горно-нефтяного факультета УГНТУ (группа МГР13-21-01):
						+button('card-person__button')
				.card-person.list-block__item
					a.link-area(href='#', target='_blank')
					.card-person__image
						img(src='images/person.jpg', srcset='images/person@2x.jpg 2x', alt='')
					.card-person__content
						.card-person__content-group
							.card-person__name Аделина Имамутдинова
							.card-person__position магистрант горно-нефтяного факультета УГНТУ (группа МГР13-21-01):
						+button('card-person__button')
				.card-person.list-block__item
					a.link-area(href='#', target='_blank')
					.card-person__image
						img(src='images/person.jpg', srcset='images/person@2x.jpg 2x', alt='')
					.card-person__content
						.card-person__content-group
							.card-person__name Аделина Имамутдинова
							.card-person__position магистрант горно-нефтяного факультета УГНТУ (группа МГР13-21-01):
						+button('card-person__button')
				.card-person.list-block__item
					a.link-area(href='#', target='_blank')
					.card-person__image
						img(src='images/person.jpg', srcset='images/person@2x.jpg 2x', alt='')
					.card-person__content
						.card-person__content-group
							.card-person__name Аделина Имамутдинова
							.card-person__position магистрант горно-нефтяного факультета УГНТУ (группа МГР13-21-01):
						+button('card-person__button')
				.card-person.list-block__item
					a.link-area(href='#', target='_blank')
					.card-person__image
						img(src='images/person.jpg', srcset='images/person@2x.jpg 2x', alt='')
					.card-person__content
						.card-person__content-group
							.card-person__name Аделина Имамутдинова
							.card-person__position магистрант горно-нефтяного факультета УГНТУ (группа МГР13-21-01):
						+button('card-person__button')
				.card-person.list-block__item
					a.link-area(href='#', target='_blank')
					.card-person__image
						img(src='images/person.jpg', srcset='images/person@2x.jpg 2x', alt='')
					.card-person__content
						.card-person__content-group
							.card-person__name Аделина Имамутдинова
							.card-person__position магистрант горно-нефтяного факультета УГНТУ (группа МГР13-21-01):
						+button('card-person__button')
