- let overlayClass = overlay ? 'header--overlay' : '';
header.header(class=overlayClass)
	.container.container--full.header__container
		nav.header__menu
			li
				a(href='#', target='_blank') История
			li
				a(href='#', target='_blank') Легенды УГНТУ
			li
				a(href='#', target='_blank') Поздравление ректора
		.header__buttons
			a.header__button.header__button--donate(href='#') поддержать
			a.header__button.header__button--congrat.js-congrat(href='#') поздравить
