.header-mobile
	ul.header-mobile__menu
		li
			a(href='#', target='_blank') История
		li
			a(href='#', target='_blank') Легенды УГНТУ
		li
			a(href='#', target='_blank') Поздравление ректора
	.close-btn.header-mobile__close-btn
		+icon('close')