@font-face {
	font-family: 'SangBleuEmpire';
	src: url('../fonts/SangBleuEmpire-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SuisseBPIntl';
	src: url('../fonts/SuisseBPIntl-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
