/* media */
$media-list: (
	'md': 767,
	'lg': 1023,
	'xl': 1279
);

/* шрифты */
$mainFont: 'SuisseBPIntl', sans-serif;
$secondFont: 'SangBleuEmpire', sans-serif;

/* цвета */
$black: #000000;
$black-11: #111111;
$black-40: #404040;
$white: #ffffff;
$gray-f7: #f7f7f7;
$gray-f5: #f5f5f5;
$gray-f6: #f6f6f6;
$gray-f9: #f9f9f9;
$gray-1c: #1c1c1c;
$gray-d9: #d9d9d9;
$green: #15a6b1;
$green-44: #44b8c1;
